# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Windows thumbnail cache
Thumbs.db